$header-color: #24436c;

.scope {
  height: 72px;
  background-color: $header-color;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
}

.menu {
  width: 72px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a558c;
}

.logo {
  margin-left: 24px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-avatar {
  margin: 0 12px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 48px !important;
  height: 48px !important;
}
