{
  "arrowParens": "avoid",
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "printWidth": 100,
  "trailingComma": "all",
  "rangeEnd": 0
}
